<section class="alt-route-content">
    <img class="food-img fbox-1" src="images/cake/rainbow-cat.jpg">
  <article class="food-info fbox-2"></article>
   <img class="food-img fbox-3" src="images/cake/fuzzy-bear.jpg">
  <article class="food-info fbox-4"></article>
   <img class="food-img fbox-5" src="images/cake/cool-fox.jpg">
  <article class="food-info fbox-6"></article>
</section>

<%#IMG credit: http://cococakeland.com/cakes/rainbow-caticorn-cake/
  http://www.craftinessisnotoptional.com/2016/06/kitty-cat-birthday-party.html
  https://whippedbakeshop.com/product-category/kawaii-cakes%>