<section class="alt-route-content">
  <img class="food-img fbox-1" src="images/cookies/medoka-cookies.jpg">
  <article class="food-info fbox-2"></article>
   <img class="food-img fbox-3" src="images/cookies/cat-cookies.jpg">
  <article class="food-info fbox-4"></article>
   <img class="food-img fbox-5" src="images/cookies/totoro-cookies.jpg">
  <article class="food-info fbox-6"></article>
</section>

<%#IMG credits: https://imgur.com/E1AWI
  https://www.facebook.com/PetiteFillebyJJ/photos/pb.1532896510269146.-2207520000.1441577766./1813416825550445/?type=3&theater%>