<section class="alt-route-content">
    <img class="food-img fbox-1" src="images/cupcake/pikachu-cupcake.jpg">
  <article class="food-info fbox-2"></article>
   <img class="food-img fbox-3" src="images/cupcake/hello-kitty-cupcake.jpg">
  <article class="food-info fbox-4"></article>
   <img class="food-img fbox-5" src="images/cupcake/puppy-cupcake.jpg">
  <article class="food-info fbox-6"></article>
</section>

<%# IMG SOURCES: PINTEREST%>