<section id="mid-container" class="container">
  <div id="m-box-1">
    <img id="left-image" src="images/qtbaker.png">
   </div>
  <div id="m-box-2">
    <section id="info">
      <article class="low-container">
        <h2>about us</h2>
      <article>
      <button id="scramble">let's dance</button>
    </section>
    <div class="container-two">
      <div class="hello">
        <span id="hi-1" class="hidden">Hi :3</span>
        <img id="first-cake" class="cupcake-img" src="images/qtcake1.png">
      </div>
        <span class="cake-info" id="first-text"><h3>SUGOI TASTE!</h3>
          <p>Established in 2015 in Osaka Japan, qtPIs strives to deliver their senpais the best service.  Your heart will go doki doki as you bite into our sugoi taste!</p>
        </span>
      <div class="hello">
        <span id="hi-2" class="hidden">Ohayo :O</span>
        <img id="second-cake" class="cupcake-img" src="images/qtcake2.png">
      </div>
        <span class="cake-info" id="second-text"><h3>GENKI GENKI FLAVOR!</h3>
          <p>Oniichan!  Our sweets will make you genki genki!  Take a bite out of our delicious cupcakes and you will find yourself in a chocolate heaven!</p>
        </span>
      <div class="hello">
        <span id="hi-3" class="hidden">Hiya xD</span>
        <img id="third-cake" class="cupcake-img" src="images/qtcake3.png">
      </div>
        <span class="cake-info" id="third-text"><h3>WAH! DON'T EAT ME SENPAI!</h3>
          <p>We exist only to serve, Onisama!  Please eat us swiftly so that we may not have to suffer -- help us sweeties find solice by making us commit seppuku!</p>
        </span>
    </div>
  </div>
</section>
<span></span>