<section id="mid-container" class="container">
  <div id="m-box-1">
    <img id="left-image" src="images/qtbaker.png">
   </div>
  <div id="m-box-2">
    <section id="info">
      <article>
        <h2>about us</h2>
      <article>
    </section>
    <div class="container-two">
      <img id="first-cake" class="cupcake-img" src="images/qtcake1.png">
        <span class="cake-info" id="first-text"><p>SUGOI TASTE!</p></span>
      <img id="second-cake" class="cupcake-img" src="images/qtcake2.png">
        <span class="cake-info" id="second-text"><p>GENKI GENKI FLAVOR!</p></span>
      <img id="third-cake" class="cupcake-img" src="images/qtcake3.png">
        <span class="cake-info" id="third-text"><p>WAH! DON'T EAT ME SENPAI!</p></span>
    </div>
  </div>
</section>