<section id="mid-container" class="container">
  <div id="m-box-1">
    <img id="left-image" src="images/qtbaker.png">
   </div>
  <div id="m-box-2">
    <section id="info">
      <article class="low-container">
        <h2>about us</h2>
      <article>
      <button id="scramble">shake it up</button>
    </section>
    <div class="container-two">
      <img id="first-cake" class="cupcake-img" src="images/qtcake1.png">
        <span class="cake-info" id="first-text"><h3>SUGOI TASTE!</h3>
          <p>Lorem ipsum dolor sit amet, quidam causae atomorum pri te, no odio invidunt deserunt eos. Dolores volutpat ne ius. Mei vidit aliquam cu, mea ne sale maiorum oporteat, placerat definiebas vix in. Ad eripuit maiorum persequeris sed, timeam voluptatibus eu nec, vis novum percipit scribentur at.</p>
        </span>
      <img id="second-cake" class="cupcake-img" src="images/qtcake2.png">
        <span class="cake-info" id="second-text"><h3>GENKI GENKI FLAVOR!</h3>
          <p>Lorem ipsum dolor sit amet, quidam causae atomorum pri te, no odio invidunt deserunt eos. Dolores volutpat ne ius. Mei vidit aliquam cu, mea ne sale maiorum oporteat, placerat definiebas vix in. Ad eripuit maiorum persequeris sed, timeam voluptatibus eu nec, vis novum percipit scribentur at.</p>
        </span>
      <img id="third-cake" class="cupcake-img" src="images/qtcake3.png">
        <span class="cake-info" id="third-text"><h3>WAH! DON'T EAT ME SENPAI!</h3>
          <p>Lorem ipsum dolor sit amet, quidam causae atomorum pri te, no odio invidunt deserunt eos. Dolores volutpat ne ius. Mei vidit aliquam cu, mea ne sale maiorum oporteat, placerat definiebas vix in. Ad eripuit maiorum persequeris sed, timeam voluptatibus eu nec, vis novum percipit scribentur at.</p>
        </span>
    </div>
  </div>
</section>

<span id="hi-1" class="hidden">Hi :3</span>
<span id="hi-2" class="hidden">Ohayo :3</span>
<span id="hi-3" class="hidden">Hiya :3</span>