<section class="container">
  <div id="m-box-1">
    <img id="left-image" src="images/qtbaker.png">
   </div>
  <div id="m-box-2">
    <section id="info">
      <article>
        <h2>about us</h2>
      <article>
    </section>
  </div>
  <div id="m-box-3">
   </div>
</section>