<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>qtPIs Bake & Cake</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/brands.css" integrity="sha384-KtmfosZaF4BaDBojD9RXBSrq5pNEO79xGiggBxf8tsX+w2dBRpVW5o0BPto2Rb2F" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css" integrity="sha384-8WwquHbb2jqa7gKWSoAwbJBV2Q+/rQRss9UXL5wlvXOZfSodONmVnifo/+5xJIWX" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Gaegu|Shadows+Into+Light" rel="stylesheet">
  <link rel="stylesheet" href="main.css"></link>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <section class="container">
      <div id="h-box-1">
      </div>
      <div id="h-box-2">
        <article class="flex-header">
          <h1>qt<span id="pi">PI</span>s Cake & Bake</h1>
        </article>
      </div>
      <div id="h-box-3">
        <nav>
          <a class="nav-link" href="/">
            <span><p>home</p></span>
          </a>
          <a class="nav-link" href="/cakes">
            <span><p>cake</p></span>
          </a>
          <a class="nav-link" href="/cookies">
            <span><p>cookies</p></span>
          </a>
          <a id="last-tag" class="nav-link" href="/cupcakes">
            <span><p>cupcakes</p></span>
          </a>
        </nav>
      </div>
    </section>
  </header>
  <br />
    <hr>

    <%= yield %>
  
  <footer>
    <form class="low-container" id="form" method="post">
      <div id="mail-1">
        <span>
            <label for="email">join our e-mail list <3:</label>
        </span>
        <span>
            <input id="mail" type="text" id="mail" value"E-Mail" name="email">
        </span>
        <span>
          <button type="submit" value="Submit">submit onii-chan!</button>
        </span>
      </div>
      <section id="mail-2">
        <p>follow us!</p>
        <a href="https://www.facebook.com/If-a-turtle-loses-its-shell-is-it-naked-or-homeless-146099272090234/"><img id="first-icon" class="icon" src="images/facebook.png"></a>
        <a href="https://www.instagram.com/baddiewinkle/"><img class="icon" src="images/instagram.png"></a>
        <a href="https://twitter.com/halloates"><img class="icon" src="images/twitter.png"></a>
      </section>
    </form>
  </footer>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>