<section class="alt-route-content">
  <div class="food-img fbox-1">
  </div>
  <article class="food-info fbox-2"></article>
   <div class="food-img fbox-3">
  </div>
  <article class="food-info fbox-4"></article>
   <div class="food-img fbox-5">
  </div>
  <article class="food-info fbox-6"></article>
</section>